@import url("./constants.css");

* {
    box-sizing: border-box;
}

html, body, h1,
p, h5 {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--main-color);
    font-family: "Figtree", sans-serif;
}

.blog-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 24px;
    width: clamp(327px, 50vw, 384px);
    height: clamp(501px, 50vw, 522px);
    border: 1px solid #000;
    border-radius: 20px;
    background-color: var(--card-color);
    box-shadow: 6px 6px #000;
}

.blog-card__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.blog-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-card__info--category {
    margin-bottom: 12px;
    padding: 4px 12px;
    min-width: 73px;
    max-width: fit-content;
    border-radius: 4px;
    text-align: center;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 800;
    background-color: var(--main-color);
    color: var(--grey-950);
}

.blog-card__info--date {
    margin-bottom: 12px;
    font-size: clamp(12px, 2vw, 15px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
    color: var(--grey-950);
}

.blog-card__info--title {
    margin-bottom: 12px;
    font-size: clamp(20px, 2vw, 23px);
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1.5;
    color: var(--grey-950);
}

.blog-card__info--title:hover {
    color: var(--main-color);
    cursor: pointer;
}

.blog-card__info--title:active {
    color: var(--heading-active-color);
}

.blog-card__info--description {
    font-size: clamp(14px, 2vw, 15px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
    color: var(--grey-500);
}

.blog-card__author-info {
    display: flex;
    align-items: center;
    gap: 5.5px
}

.blog-card__author-info--avatar {
    width: 32px;
    height: 32px;
}

.blog-card__author-info--name {
    font-size: 14px;
    font-weight: 800;
    color: var(--grey-950);
}
